# Firebase Configuration for SHEZI AESTHETICS
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDkBUWdEMvkWullGdAcMA87upZxsNsvWNs"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="shezi-aeshtatic-clinic.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="shezi-aeshtatic-clinic"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="shezi-aeshtatic-clinic.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="691894940153"
NEXT_PUBLIC_FIREBASE_APP_ID="1:691894940153:web:87d8890996cb665f144d28"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-EC6JTZ3B8X"
